@{
    ViewBag.Title = "Soal 2";
    //List<int> Output = new List<int>();
    //List<int> Input = new List<int>();
    //if (ViewBag.Output != null)
    //{
    //    Output = ViewBag.Output;
    //}
    //else
    //{
    //    Output = new List<int>() { 0, 0, 0, 0, 0, 0, 0 };
    //}

    //if (ViewBag.Input != null)
    //{
    //    Input = ViewBag.Input;
    //}
    //else
    //{
    //    Input = new List<int>() { 0, 0, 0, 0, 0, 0, 0 };
    //}
}

<div class="jumbotron">
    <h1>Soal 2</h1>
</div>

@*@using (Html.BeginForm("Soal2", "Home", FormMethod.Post, new { @class = "form-horizontal", id = "submitPlan" }))
{*@
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Plan</h2>
                <table class="table table-bordered">
                    <thead style="background-color:black;color:white">
                        <tr>
                            <th scope="col">Hari</th>
                            <th scope="col">Jumlah Produksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Senin</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInSenin"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Selasa</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInSelasa"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Rabu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInRabu"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Kamis</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInKamis"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Jum'at</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInJumat"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabtu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input" id="idInSabtu"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Minggu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" name="input"  id="idInMinggu"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Output</h2>
                <table class="table table-bordered">
                    <thead style="background-color:black;color:white">
                        <tr>
                            <th scope="col">Hari</th>
                            <th scope="col">Jumlah Produksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Senin</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutSenin"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Selasa</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutSelasa"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Rabu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutRabu"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Kamis</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutKamis"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Jum'at</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutJumat"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sabtu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutSabtu"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Minggu</th>
                            <td>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="number" class="form-control" min="0" value="0" readonly="readonly" id="idOutMinggu"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary col-md-12" onclick="submit()">Submit Plan</button>
        </div>
    </div>
@*}*@


<script>
    function submit() {
        var arr = [];
        arr[0] = document.getElementById("idInSenin").value;
        arr[1] = document.getElementById("idInSelasa").value;
        arr[2] = document.getElementById("idInRabu").value;
        arr[3] = document.getElementById("idInKamis").value;
        arr[4] = document.getElementById("idInJumat").value;
        arr[5] = document.getElementById("idInSabtu").value;
        arr[6] = document.getElementById("idInMinggu").value;
        console.log(arr);
        $.ajax({
            type: "POST",
            url: "@Url.Action("Soal2_Logic","Home")",
            data: {input : arr},
            success: function (res) {
                if (res.resMessage == "Success") {
                    var _data = JSON.parse(res.data);
                    console.log(_data);
                    document.getElementById("idOutSenin").value = _data[0];
                    document.getElementById("idOutSelasa").value = _data[1];
                    document.getElementById("idOutRabu").value = _data[2];
                    document.getElementById("idOutKamis").value = _data[3];
                    document.getElementById("idOutJumat").value = _data[4];
                    document.getElementById("idOutSabtu").value = _data[5];
                    document.getElementById("idOutMinggu").value = _data[6];
                }
            }
        })
    }
</script>